body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  color: red;
  text-align: center;
}

form {
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 320px;
}
